body {
  --link-mention-gap: 0.25em;
  --link-author-gap: 0.5em;
  --link-mention-padding: 0.0625em 0.125em;
  --link-mention-radius: 0.125em;
  --link-mention-background: var(--background-secondary);
  --link-mention-border: 1px solid var(--background-modifier-border);
  --link-mention-background-hover: var(--background-modifier-hover);
  --link-mention-favicon-size: 0.875em;
  --link-mention-text-color: var(--text-normal);
  --link-mention-underline-color: color-mix(
    in srgb,
    var(--text-normal),
    transparent 70%
  );
}

.link-mention {
  border-radius: var(--link-mention-radius);
  cursor: pointer;
  text-decoration: none;
  line-height: 1.4;
}

/* Make Obsidian's external-link icon clickable next to our pill */
.link-mention + .external-link,
.link-mention + * + .external-link {
  cursor: pointer;
}

/* When setting is off, hide the external arrow next to pills */
body.link-mention-hide-arrow .link-mention + .external-link,
body.link-mention-hide-arrow .link-mention + * + .external-link {
  display: none;
}

/* Hides Obsidian's arrow (inside the pill) for external links */
.link-mention.external-link {
  background-image: none;
  padding-inline-end: 0.1em;
}

.link-mention:hover {
  background-color: var(--link-mention-background-hover);
  box-shadow: 0 0 0 0.1875em var(--link-mention-background-hover);
  text-decoration: none;
}

.link-mention-favicon {
  width: var(--link-mention-favicon-size);
  height: var(--link-mention-favicon-size);
  vertical-align: middle;
  margin-right: var(--link-mention-gap);
}

.link-mention-default-icon {
  color: var(--text-muted);
}

.link-mention-default-icon svg {
  width: var(--link-mention-favicon-size);
  height: var(--link-mention-favicon-size);
  vertical-align: middle;
}

.link-mention-author {
  color: var(--text-muted);
  margin-right: var(--link-author-gap);
}

.link-mention-title {
  font-size: inherit;
  color: var(--link-mention-text-color);
  text-decoration: none;
  text-decoration-color: var(--link-mention-underline-color);
  text-underline-offset: 0.125em;
  text-decoration-line: var(--link-external-decoration);
}
